<div class="data-container content">
  <div class="datatable">

    <p-dataTable [value]="employees"
                 (onRowSelect)="onRowSelect($event)"
                 [paginator]="true" expandableRows="true" [rows]="15"
                 emptyMessage="Loading Employees..."
                 [responsive]="true" [globalFilter]="gb" #dt>
      <header>
        <h3>Employee List</h3>
      </header>
      <p-column expander="true" [style]="{'width':'38px'}"></p-column>
      <p-column field="firstName" header="First Name" [filter]="true"
                filterPlaceholder="Search by First Name" filterMatchMode="contains"></p-column>
      <p-column field="lastName" header="Last Name" [filter]="true"
                filterPlaceholder="Search by Last Name" filterMatchMode="contains"></p-column>
      <p-column field="jobTitle" header="Job Title" [filter]="true"
                filterPlaceholder="Search by Job Title" filterMatchMode="contains"></p-column>

      <template let-employee pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
          <div class="ui-grid-row">
            <div *ngIf="employee.photoUrl" class="ui-grid-col-3" style="text-align:center">
              <img src="{{employee.photoUrl}}"/>
            </div>
            <div class="ui-grid-col-9">
              <div class="ui-grid ui-grid-responsive ui-grid-pad">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2 label">ID:</div>
                  <div class="ui-grid-col-10">{{employee.id}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2 label">Preferred Name:</div>
                  <div class="ui-grid-col-10">{{employee.displayName}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2 label">Work Email:</div>
                  <div class="ui-grid-col-10">{{employee.workEmail}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2 label">Location:</div>
                  <div class="ui-grid-col-10">{{employee.location}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-2 label">Gender:</div>
                  <div class="ui-grid-col-10">{{employee.gender}}</div>
                </div>
              </div>
            </div>
            <div>
              <button type="button" pButton style="float:left" (click)="showDialog(employee)"
                      label="Deployments"></button>
            </div>
          </div>
        </div>
      </template>
      <footer>
        <div class="ui-helper-clearfix">
          <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"
                  style="float:left"></button>

        </div>
      </footer>
    </p-dataTable>
  </div>
</div>

<p-dialog header="Deployments" [(visible)]="display">
  <div class="ui-g-12">
    <div *ngIf="selectedEmployee.deployments" class="ui-g-12">
      <div *ngIf="isDefined(selectedEmployee.deployments.current)">
        <div class="ui-grid-row">
          <div class="ui-g-6 label">Current:</div>

          <div class="ui-g-6">
            <div *ngFor="let deployment of selectedEmployee.deployments.current" class="ui-grid-row">
              <div><a style="white-space: nowrap;"
                      [routerLink]="['/deployment', deployment.deploymentId]">{{deployment.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isDefined(selectedEmployee.deployments.previous)">
        <div class="ui-g-6 label">Previous:</div>

        <div class="ui-g-6">
          <div *ngFor="let deployment of selectedEmployee.deployments.previous" class="ui-grid-row">
            <div><a style="white-space: nowrap;"
                    [routerLink]="['/deployment', deployment.deploymentId]">{{deployment.name}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="ui-helper-clearfix">
      <button [routerLink]="['/create-deployment', selectedEmployee.id]" pButton icon="fa-plus" type="button" label="New Deployment"></button>
    </div>
  </footer>
</p-dialog>
