<table datatable>
  <thead>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Job Title</th>
    <th>Work Email</th>
    <th>Department</th>
    <th>Location</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>Name</th>
    <th>Gender</th>
    <th>Job Title</th>
    <th>Work Email</th>
    <th>Department</th>
    <th>Location</th>
  </tr>
  </tfoot>
  <tbody>
  <tr *ngFor="let employee of employees | async">
    <td>{{employee.displayName}}</td>
    <td>{{employee.gender}}</td>
    <td>{{employee.jobTitle}}</td>
    <td>{{employee.workEmail}}</td>
    <td>{{employee.department}}</td>
    <td>{{employee.location}}</td>
  </tr>
  </tbody>
</table>
