<div class="content">
  <div class="container-fluid" style="display:flex">
    <div class="column col-md-3">
      <div style="padding:10px">
        <label for="deploymentId">Deployment Id</label>
        <br/>
        <input id="deploymentId" type="text" pInputText [(ngModel)]="deployment.id"/>
      </div>
      <div style="padding:10px">
        <label for="employeeId">Employee Id</label>
        <br/>
        <input id="employeeId" type="text" pInputText [(ngModel)]="deployment.employeeId"/>
      </div>
      <div style="padding:10px">
        <label for="clientId">Client Id</label>
        <br/>
        <input id="clientId" type="text" pInputText [(ngModel)]="deployment.clientId"/>
      </div>
    </div>
    <div class="column col-md-3">
      <div style="padding:10px">
        <label for="startDate">Start Date</label>
        <br/>
        <input id="startDate" type="text" pInputText [(ngModel)]="deployment.dates.startDate"/>
      </div>
      <div style="padding:10px">
        <label for="projectedEndDate">Projected End Date</label>
        <br/>
        <input id="projectedEndDate" type="text" pInputText [(ngModel)]="deployment.dates.projectedEndDate"/>
      </div>
      <div style="padding:10px">
        <label for="actualEndDate">Actual End Date</label>
        <br/>
        <input id="actualEndDate" type="text" pInputText [(ngModel)]="deployment.dates.endDate"/>
      </div>
      <div style="padding:10px">
        <label for="billingRate">Billing Rate</label>
        <br/>
        <input id="billingRate" type="text" pInputText [(ngModel)]="deployment.billing.rate"/>
      </div>
      <div style="padding:10px">
        <label for="billingCycle">Billing Cycle</label>
        <br/>
        <input id="billingCycle" type="text" pInputText [(ngModel)]="deployment.billing.cycle"/>
      </div>
    </div>
    <div class="column col-md-3">
      <div style="padding:10px">
        <label for="street1">Street 1</label>
        <br/>
        <input id="street1" type="text" pInputText [(ngModel)]="deployment.address.street1"/>
      </div>
      <div style="padding:10px">
        <label for="street2">Street 2</label>
        <br/>
        <input id="street2" type="text" pInputText [(ngModel)]="deployment.address.street2"/>
      </div>
      <div style="padding:10px">
        <label for="city">City</label>
        <br/>
        <input id="city" type="text" pInputText [(ngModel)]="deployment.address.city"/>
      </div>
      <div style="padding:10px">
        <label for="state">State</label>
        <br/>
        <input id="state" type="text" pInputText [(ngModel)]="deployment.address.state"/>
      </div>
      <div style="padding:10px">
        <label for="zip">Zip Code</label>
        <br/>
        <input id="zip" type="text" pInputText [(ngModel)]="deployment.address.zip"/>
      </div>
      <div style="padding:10px">
        <label for="country">Country</label>
        <br/>
        <input id="country" type="text" pInputText [(ngModel)]="deployment.address.country"/>
      </div>
    </div>
    <div class="column col-md-3">
      <div style="padding:10px">
        <label for="taxable">Taxable</label>
        <br/>
        <input id="taxable" type="text" pInputText [(ngModel)]="deployment.billing.taxable"/>
      </div>
      <div style="padding:10px">
        <label for="mgmtSvcSurcharge">Management Service Surcharge</label>
        <br/>
        <input id="mgmtSvcSurcharge" type="text" pInputText [(ngModel)]="deployment.billing.mgmtSvcSurcharge"/>
      </div>
    </div>
  </div>
</div>
