<div class="content">
  <div class="container-fluid">
    <div class="column col-md-3">
      <div style="padding:10px" hidden>
        <label for="employeeId">Employee Id</label>
        <br/>
        <input id="employeeId" type="text" pInputText [(ngModel)]="deployment.employeeId"/>
      </div>
      <div class="row" style="display: flex;">
        <div style="padding:10px">
          <label for="clientId">Client</label>
          <br/>
          <p-dropdown id="clientId" [style]="{'width':'200px'}" [options]="clients"
                      (onChange)="setClientSelected()"></p-dropdown>
        </div>
        <div [hidden]="!isClientSelected" style="padding:10px">
          <label for="projectId">Project</label>
          <br/>
          <p-dropdown id="projectId" [style]="{'width':'200px'}" [options]="projects" [(ngModel)]="deployment.projectId"
                      (onChange)="setProjectSelected()"></p-dropdown>
        </div>
      </div>
      <div class="row" style="display: flex;">
        <div [hidden]="!isProjectSelected" style="padding:10px">
          <label for="managerName">Manager Name</label>
          <br/>
          <input id="managerName" style="width: 118px" type="text" pInputText [(ngModel)]="deployment.manager.name"/>
        </div>
        <div [hidden]="!isProjectSelected" style="padding:10px">
          <label for="managerEmail">Email</label>
          <br/>
          <input id="managerEmail" style="width: 118px" type="text" pInputText [(ngModel)]="deployment.manager.email"/>
        </div>
        <div [hidden]="!isProjectSelected" style="padding:10px">
          <label for="managerPhone">Phone</label>
          <br/>
          <input id="managerPhone" style="width: 118px" type="text" pInputText [(ngModel)]="deployment.manager.phone"/>
        </div>
      </div>
      <div class="row" style="display: flex;">
        <div [hidden]="!isProjectSelected" style="padding:10px">
          <label for="startDate">Start Date</label>
          <br/>
          <p-calendar id="startDate" [style]="{'width':'200px'}" [(ngModel)]="deployment.dates.startDate"
                      monthNavigator="true" yearNavigator="true" yearRange="1990:2030" readonlyInput="readonlyInput">
          </p-calendar>
        </div>
        <div [hidden]="!isProjectSelected" style="padding:10px">
          <label for="projectedEndDate">Projected End Date</label>
          <br/>
          <p-calendar id="projectedEndDate" [style]="{'width':'200px'}" [(ngModel)]="deployment.dates.projectedEndDate"
                      monthNavigator="true" yearNavigator="true" yearRange="1990:2030" readonlyInput="readonlyInput">
          </p-calendar>
        </div>
      </div>
      <div [hidden]="!isProjectSelected" class="column col-md-3">
        <div class="row" style="display: flex;">
          <div style="padding:10px">
            <label for="billable">Billable</label>
            <br/>
            <p-checkbox id="billable" [(ngModel)]="isBillable" binary="true"></p-checkbox>
          </div>
          <div [hidden]="!isBillable" style="padding:10px">
            <label for="billingCycle">Billing Cycle</label>
            <br/>
            <p-dropdown id="billingCycle" [style]="{'width':'100px'}" [options]="cycles"
                        [(ngModel)]="deployment.billing.cycle" selected="selected"></p-dropdown>
          </div>
          <div [hidden]="!isBillable" style="padding:10px">
            <label for="billingRate">Billing Rate</label>
            <br/>
            <input id="billingRate" style="width: 93px" type="number" pInputText [(ngModel)]="deployment.billing.rate"/>
          </div>
          <div [hidden]="!isBillable" style="padding:10px">
            <label for="mgmtSvcSurcharge">Mgmt Svc Sur</label>
            <br/>
            <input id="mgmtSvcSurcharge" style="width: 93px" type="number" pInputText
                   [(ngModel)]="deployment.billing.mgmtSvcSurcharge"/>
          </div>
          <div [hidden]="!isBillable" style="padding:10px">
            <label for="taxable">Taxable</label>
            <br/>
            <p-checkbox id="taxable" binary="true" [(ngModel)]="deployment.billing.taxable"></p-checkbox>
          </div>
        </div>
      </div>
      <div [hidden]="!isProjectSelected" class="column col-md-3">
        <div class="row" style="display: flex;">
          <div style="padding:10px">
            <label for="street1">Street 1</label>
            <br/>
            <input id="street1" style="width: 190px" type="text" pInputText [(ngModel)]="deployment.address.street1"/>
          </div>
          <div style="padding:10px">
            <label for="street2">Street 2</label>
            <br/>
            <input id="street2" style="width: 190px" type="text" pInputText [(ngModel)]="deployment.address.street2"/>
          </div>
        </div>
        <div class="row" style="display: flex;">
          <div style="padding:10px">
            <label for="city">City</label>
            <br/>
            <input id="city" style="width: 100px" type="text" pInputText [(ngModel)]="deployment.address.city"/>
          </div>
          <div style="padding:10px">
            <label for="state">State</label>
            <br/>
            <input id="state" style="width: 100px" type="text" pInputText [(ngModel)]="deployment.address.state"/>
          </div>
          <div style="padding:10px">
            <label for="zip">Zip Code</label>
            <br/>
            <input id="zip" style="width: 100px" type="text" pInputText [(ngModel)]="deployment.address.zip"/>
          </div>
          <div style="padding:10px">
            <label for="country">Country</label>
            <br/>
            <input id="country" type="text" pInputText [(ngModel)]="deployment.address.country"/>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="!isProjectSelected">
      <button pButton type="button" label="Create Deployment"
              (click)="createDeployment()"></button>
    </div>
  </div>
</div>
