html {
  background-color: black;
  color: white;
}

body {
  background-color: rgb(35, 153, 229);
  color: white;
  height: 100%;
}

ul {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  /*margin: 0px;*/
  /*padding: 0px;*/
}

button {
  width: 90%;
  margin-left: 10px;
  margin-bottom: 5px;
}

.content {
  padding: 30px;
  margin-left: 200px;
  height: 100%;
}

/* The side navigation menu */
.sidenav {
  margin-left: 8px;
  margin-top: 132px;
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: absolute; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgb(35, 153, 229);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
/*.sidenav a:hover, .offcanvas a:focus {*/
  /*color: #f1f1f1;*/
/*}*/

/* Position and style the close button (top right corner) */
/*.sidenav .closebtn {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 25px;*/
  /*font-size: 36px;*/
  /*margin-left: 50px;*/
/*}*/

.sidenav-open {
  width: 200px;
}

/*.sidenav-closed {*/
  /*width: 0px;*/
/*}*/

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
